* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.page-w-navbar {
  height: calc(100% - 60px); // make sure page ends where navbar begins
  width: 100%;
  overflow-y: auto;
}

.page-wo-navbar {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
