# Node modules
node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
metro-debug.log
debug.log

# macOS system files
.DS_Store

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Native packager logs
.expo/
.expo-shared/
dist/
logs/
*.log

# Bundles
*.jsbundle
*.map

# Android
android/.gradle/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/build/
android/app/.cxx/
android/.idea/
android/local.properties
android/app/src/main/jniLibs/
android/app/src/debug/
android/app/src/profile/
android/app/src/release/

# iOS
ios/Pods/
ios/build/
ios/.DS_Store
ios/xcuserdata/
ios/*.xcworkspace
ios/*/xcuserdata/
ios/*/project.xcworkspace/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# React Native Firebase
firebase.json

# Misc
*.env
*.env.production
*.env.development
*.env.test
*.env.local
*.keystore
*.p8
*.p12
*.key
*.pem
*.jks

# Temporary files
tmp/
temp/
.cache/
