@use '../../styles/variables' as *;

.category {
  & .category__topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem;

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2rem;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $text-dark;
    text-overflow: ellipsis;
  }

  &__words {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: auto;
    justify-items: center;
  }

  &__no-words {
    direction: ltr;
    text-align: center;
    margin: 2rem;
    font-size: 1.3rem;
    color: #333;
    background: #fdfbfb;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
}
