.flashcards-container {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
  justify-items: center;
  justify-content: center;

  &__card {
    width: 40vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-color: #afddef61;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
