@use '../../../../styles/variables' as *;

.game-card-button {
  height: 120px;
  width: 60%;
  background-color: $secondary-background;
  border-radius: 20px;
  position: relative;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;

  &:focus {
    outline: none;
  }
}

.game-card-title {
  font-size: 20px;
}

.game-card-image {
  width: 35%;
  // position: absolute;
  // transform: translateX(-75%) translateY(-65%);
}
