@use '../../styles/variables.scss' as *;


.profile-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 85vh;

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
    margin-bottom: 15%;
      
    }
  }

  .coins-section {
    align-self: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 4.5rem;
    }

    .text {
      font-size: 1.5rem;
      font-weight: bold;
      color: #5D5C5C;
    }
  }

  .logout-button {
    margin-top: 1rem;
    margin-left: 1rem;
    align-self: end;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: $primary-dark;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 0.5;
      transform: scale(1.05);
    }

    &:active {
      background-color: #bd2130;
      transform: scale(0.95);
    }
  }

  .shop {
    border-radius: 999px;
    background-color: $primary-dark;
  }
}