.profile-container {
  padding: 0.5rem;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  .coins-section {
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 4.5rem;
    }

    .text {
      font-size: 1.5rem;
      font-weight: bold;
      color: #5D5C5C;
    }
  }

}