@use '../../styles/variables.scss' as *;

.profile-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 85vh;

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 15%;
    }
  }

  .coins-section {
    align-self: flex-start;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 4.5rem;
    }

    .text {
      font-size: 1.5rem;
      font-weight: bold;
      color: #5d5c5c;
    }
  }

  .streak-section {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: #ff4500;

    .streak-icon {
      font-size: 1.8rem;
      margin-right: 6px;
      animation: pulse 2s infinite ease-in-out;
    }

    .streak-number {
      letter-spacing: 1px;
    }

    .streak-comment {
      margin-right: 1rem;
      color: #333;
    }
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.15);
      opacity: 0.8;
    }
  }


  .logout-button {
    margin-top: 1rem;
    margin-left: 1rem;
    align-self: end;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: $primary-dark;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 0.5;
      transform: scale(1.05);
    }

    &:active {
      background-color: #bd2130;
      transform: scale(0.95);
    }
  }

  .shop {
    border-radius: 999px;
    background-color: $primary-dark;
  }
}
