// Colors
$primary: #fbf3df;
$primary-dark: #4e2a01;
$primary-light: #4E2A01A8;
$secondary-background: #afddef61;
$border-color: #d1d5db;
$light-grey: #f3f4f6;
$hover-grey: #e5e7eb;
$text-dark: #374151;
$inputs: #e7e7e7;

// Shadows
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

// Background
$gradient-bg: linear-gradient(to right, #bfdbfe, #d8b4fe);
